$base-font-size: 1.8rem;
$small-font-size: 1.2rem;
$layout-breakpoint-small: 760px;
$base-btn-padding: 0.2rem 0.4rem 0.2rem 0.4rem;
$small-btn-padding: 0.1rem 0.1em 0.1rem 0.1rem;

.center {
  padding-top: 2vh;
  text-align: center;
  .card-container {
    margin: 0 auto 4vh auto;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;

    .image {
      width: 16rem;
      height: 16rem;
      object-fit: scale-down;
    }
  }
  h3 {
    font-size: $base-font-size;
    color: blue;
  }
  .btn-container {
    button {
      padding: $base-btn-padding;
      border: 1px solid blue;
      border-radius: 10px;
      margin: 0.25rem;
    }
  }

  .form-container {
    margin-bottom: 1.5vh;
    label {
      color: blue;
      font-size: $base-font-size;
      margin-right: 0.5rem;
    }
    .submit,
    .input-field {
      padding: $base-btn-padding;
      border: 1px solid blue;
      border-radius: 10px;
      margin: 0.25rem;
    }
    span {
      font-size: $base-font-size;
      color: black;
    }
  }
}

/* Queries */

@media (max-width: $layout-breakpoint-small) {
  .center {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
    h3 {
      font-size: $small-font-size;
    }
    .btn-container {
      button {
        padding: $small-btn-padding;
      }
    }
    .form-container {
      label,
      span {
        font-size: $small-font-size;
      }
      .submit,
      .input-field {
        padding: $small-btn-padding;
      }
    }
  }
}
