$layout-breakpoint-small: 760px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  background-color: rgb(74, 160, 230);
  height: 8vh;
  padding: 0.5vh 3vw 0.5vh 3vw;
  justify-content: space-between;
  .logo-container {
    max-width: 2vw;
    img {
      height: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

    li {
      list-style: none;
      font-size: 1.5rem;
      .link {
        display: flex;
        color: white;
        text-decoration: none;

        .counter-container {
          font-size: 15px;
          display: flex;
          background-color: red;
          width: 25px;
          height: 25px;
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
        }
      }
    }
  }
}

/* Media */
@media (max-width: $layout-breakpoint-small) {
  .nav-container {
    ul {
      li {
        font-size: 1.1rem;
      }
    }
  }
}
